!!!5
html(lang="en")
  head
    - if (typeof pageTitle !== "undefined")
      title #{pageTitle} | Genassist
    - else
      title Genassist

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap-responsive.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/css/custom.css", type="text/css")
    link(rel="stylesheet", href="/fullscreenr/css/style.css", type="text/css")
    script(src='/js/async.js')
    script(src='/js/jquery-1.8.3.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/jquery.cookie.js')
    script(src='/fullscreenr/js/jquery.fullscreenr.js')
    script(src='/js/footer.js')
    script(src='/js/candy.js')
    

  body
    div(id="bgdiv")
        img(id="bgimg", src="https://twimg0-a.akamaihd.net/profile_images/190746611/Picture_1.png")
    div(id="realBody")
    div.row-fluid
      div.span2
      div.span8
        div.pagination-centered
            h1(id="artistName") Artist
            p sings
            h1(id="songName") Song
        br
        br
        include footer
      div.span2
 
    
    

