!!!5
html(lang="en")
  head
    - if (typeof pageTitle !== "undefined")
      title #{pageTitle} | Genassist
    - else
      title Genassist

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap-responsive.css", type="text/css", media="screen, projection")
    link(rel="stylesheet", href="/css/custom.css", type="text/css")
    link(rel="stylesheet", href="/fullscreenr/css/style.css", type="text/css")
    script(src='/js/async.js')
    script(src='/js/jquery-1.8.3.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/jquery.cookie.js')
    script(src='/fullscreenr/js/jquery.fullscreenr.js')
    script(src='/js/footer.js')
    script(src='/js/candy.js')
    

  body
    div(id="bgdiv")
        img(id="bgimg", src="http://www.dusbabek.org/~garyd/dus_fam.jpg", width="1500px")
    div(id="realBody", style="background-color: rgba(0,0,0,0.6  )")
    div.row-fluid(id="song_info")
      div.span2
      div.span8
        div.pagination-centered
          p(id="songName", style="font-family: Arvo; font-size: 200%; font-weight: bold; padding-top:25px;") Song
          span(style="font-family: Arvo;") by 
          span(id="artistName", style="font-family: Arvo; font-size: 120%") Artist
      div.span2
    div.row-fluid(id="rdio_missing", class="hide")
      div.span2
      div.span8
        div.pagination-centered
          h3 Want to see fancy sliding images of the band you're listing to on Rdio?
          br
          h4 OK.
          br
          h1
            a(href="/rdio_register.html?return=/candy.html") You need to link Genassist with Rdio!
          br
          p Privacy policy: Your Rdio information won't be shared.
        div(id="hide_rdio_invitation_in_footer", class="hide") Please hide the footer.
      div.span2
    div.row-fluid
      div.span2
      div.span8
        div.pagination-centered
        br
        include footer
      div.span2
 
    
    

