div.pagination-centered
    span(id="is_not_rdio")
        a(href="/rdio_register.html") Integrate with Rdio
div.pagination-centered(style="font-size:90%")
    span Genassist is created by 
        a(href="http://twitter.com/gdusbabek") @gdusbabek.
div.pagination-centered(style="line-height:95%; font-size:80%;")
    span Powered by 
        a(href="http://www.rdio.com") Rdio®
        span  and 
        a(href="http://the.echonest.com") The Echonest 
        