div.pagination-centered
    span(id="is_not_rdio")
        a(href="/rdio_register.html") Integrate with Rdio
div.pagination-centered
    span(style="font-size:80%") Powered by 
        a(href="http://www.rdio.com") Rdio®
        span  and 
        a(href="http://the.echonest.com") The Echonest