extends layout

block scripts
	script(src='/js/jquery-1.8.3.min.js')
	script(src='/js/search.js')

block content
	div.pagination-centered
		h1 Genassi.st

	div.pagination-centered
		form(method="post", name="query")
			div.input-append
				input(type="text", name="query", placeholder='Friday I&apos;m in Love The Cure', class="textbox-wide", id="query")
				button(type="button", value="rdio", class="btn", data-toggle="button", id="rdioBtn") Rdio
				button(type="button", value="spotify", class="btn", data-toggle="button", id="spotifyBtn") Spotify
				

	div.container.pagination-centered(class="hide", id="mood")
		h2 Mood?
	div.container.pagination-centered(class="hide", id="results") Results
		h2 Results
