!!!5
html(lang="en")
  head
    - if (typeof pageTitle !== "undefined")
      title #{pageTitle} | Genassi.st
    - else
      title Genassi.st
    - if (typeof fluid !== "undefined")
      layout = "-fluid";
    - else
      layout = "";

    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css", type="text/css", media="screen, projection")

  body
    div
      block content
    block scripts